<!-- root/templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}제목{%endblock%}</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
<div class='container'>
<!-- 메뉴
    로그인 한 경우: 로그아웃, 글쓰기
    로그인 안한 경우: 로그인, 가입
    공통: 글목록, 관리
    현재 사용자정보: user 변수
    로그인 여부 : user.is_authencated
-->    
<nav>
    <ul class='nav'>
        <li class='nav-item'>
            <a href='/' class='nav-link'>Home</a>
        </li>
        {% if user.is_authenticated %}
            <li class='nav-item'>
                <a href="{% url 'board:create' %}" class='nav-link'>글쓰기</a>
            </li>
        {% endif %}
        <li class='nav-item'>
            <a href="{% url 'board:list' %}" class='nav-link'>글목록</a>
        </li>
        {% if not user.is_authenticated %}
            <li class='nav-item'>
                <a href="{% url 'account:join' %}" class='nav-link'>가입</a>
            </li>
            <li class='nav-item'>
                <a href="{% url 'account:login' %}" class='nav-link'>로그인</a>
            </li>
        {% else %}
        <li class='nav-item'>
            <a href="{% url 'account:logout' %}" class='nav-link'>로그아웃</a>
        </li>
        {% endif %}
    </ul>
</nav>

    {%block contents%}{%endblock contents%}
</div>
</body>
</html>
